Source: wingpanel-indicator-powersave
Section: x11
Priority: optional
Maintainer: Que Quotion <quequotion@gmail.com>
Build-Depends: debhelper-compat (= 13),
               libgranite-dev,
               libpolkit-gobject-1-dev,
               libglib2.0-dev,
               libgtk-3-dev,
               libwingpanel-dev,
               policykit-1,
               meson,
               valac
Standards-Version: 4.5.0
Homepage: https://github.com/quequotion/wingpanel-indicator-powersave
Rules-Requires-Root: no

Package: wingpanel-indicator-powersave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: wingpanel
Description: Wingpanel Powersave indicator to control system power usage
 Wingpanel-indicator-powersave is a user-discretion power management utility
