<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Que Quotion</vendor>
  <vendor_url>https://github.com/quequotion/wingpanel-indicator-powersave/</vendor_url>

  <action id="io.elementary.wingpanel.powersave.controlpwr">
    <description>Control system power usage</description>
    <message>Authentication is required to control system power usage</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/io.elementary.powersave.modifier</annotate>
  </action>

</policyconfig>
